/node_modules
/public/hot
/public/berkas
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/assets/landing/images/damkar.png
public/assets/landing/images/jatim.png
public/assets/landing/images/kasandra.png
public/assets/landing/images/linmas.png
public/assets/landing/images/satpol.png
public/assets/landing/images/sigap.png
public/assets/landing/plugin/apexcharts.js
public/assets/logo/kota/bangkalan.png
public/assets/logo/kota/banyuwangi.png
public/assets/logo/kota/batu.png
public/assets/logo/kota/blitar_kab.png
public/assets/logo/kota/blitar_kota.png
public/assets/logo/kota/bojonegoro.png
public/assets/logo/kota/bondowoso.png
public/assets/logo/kota/gresik.png
public/assets/logo/kota/jember.png
public/assets/logo/kota/jombang.png
public/assets/logo/kota/kediri_kab.svg
public/assets/logo/kota/kediri_kota.png
public/assets/logo/kota/lamongan.png
public/assets/logo/kota/lumajang.png
public/assets/logo/kota/madiun.png
public/assets/logo/kota/madiun_kota.png
public/assets/logo/kota/magetan.png
public/assets/logo/kota/malang_kab.svg
public/assets/logo/kota/malang_kota.png
public/assets/logo/kota/mojokerto_kabupaten.png
public/assets/logo/kota/mojokerto_kota.png
public/assets/logo/kota/nganjuk.png
public/assets/logo/kota/ngawi.png
public/assets/logo/kota/pacitan.png
public/assets/logo/kota/pamekasan.png
public/assets/logo/kota/pasuruan_kabupaten.png
public/assets/logo/kota/pasuruan_kota.png
public/assets/logo/kota/ponorogo.png
public/assets/logo/kota/probolinggo_kab.png
public/assets/logo/kota/probolinggo_kota.png
public/assets/logo/kota/sampang.png
public/assets/logo/kota/sidoarjo.png
public/assets/logo/kota/situbondo.png
public/assets/logo/kota/sumenep.png
public/assets/logo/kota/surabaya.png
public/assets/logo/kota/trenggalek.png
public/assets/logo/kota/tuban.png
public/assets/logo/kota/tulungagung.png
public/assets/landing.zip
vendor.zip
